Fuji.MoveFiles.Servicio/Connected Services/ServicioMueveEstudio/Bibl_F33D21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bibl_F33D2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bibl_F33D2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="CArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bytArchivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="id_Sitio" type="xs:int" />
      <xs:element minOccurs="0" name="vchClaveSitio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchfilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchpath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CArchivo" nillable="true" type="tns:CArchivo" />
</xs:schema>